@use '../abstracts/' as *;

body {
  font-family: $ff-primary;
  font-size: fs(400);
  font-weight: $fw-400;
  line-height: 1.6;

  color: clr(neutral, 400);
  background-color: clr(neutral, 100);

  scroll-behavior: smooth;
}
