@use '../abstracts/' as *;

@each $icon-type, $icon-file-name in $icons {
  .button_icon_#{$icon-type} {
    & > :where(.button__content) {
      display: flex;
      align-items: center;
      gap: $size-2;

      &::before {
        content: '';
        display: block;
        background-color: $button-primary-icon-color;
        mask: url(/assets/#{$icon-file-name}.svg);
        width: 24px;
        height: 24px;
      }
    }

    &:is(:disabled) > .button__content::before {
      background-color: $button-color-disabled;
    }
  }
}
